.img-size {
  width: 22px !important;
  height: 22px !important;
}
.text-flex {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.rank {
  margin-left: 20px;
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .tablet-small {
    width: 18px !important;
    height: 18px !important;
  }
}

@media screen and (max-width: 400px) {
  .mobile-small {
    width: 12px !important;
    height: 12px !important;
  }
  .percentage-mobile {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}
